.account-profile {

    .container {

        aside {
            .profile-image {
                img {
                    width: 150px;
                    height: 150px;
                }
            }







            nav {
                .btn-bottuns {
                    width: 18%;
                }

                .nav nav-pills flex-column {
                    .nav-link{ text-decoration: none;
                    color: gray;}
                }
            }


            .profile-info {
            }
        }
    }
}
