.account-profile {

    .container {

        aside {
            .profile-image {
                img {
                    width: 150px;
                    height: 150px;
                }
            }







            nav {
                .btn btn-theme {
                    width: 18%;
                    gap: 10px;
                }

                .nav nav-pills flex-column {
                    .nav-link {
                        text-decoration: none;
                        color: gray;
                    }
                }
            }


            .profile-info {
            }
        }
    }
}
