#devices {
    background-color: var(--color-gray-100);

    .container {
        background-color: var(--color-gray-200);
        display: flex;
        justify-content: space-between;
        padding: 4rem 1rem;

        .device-image {
            flex: 1;

            img {
            }
        }

        .content {
            flex: 1;

            h1 {
                width: 60%;
            }

            .download-app-group {
                margin: 3rem 0;

                .store {
                    color: var(--color-gray-600);
                }

                .rating {
                    margin-bottom: 10px;

                    i {
                        color: #ffd000;
                    }
                }

                .download {
                    width: 70%;
                    display: flex;
                    justify-content: space-between;

                    .download-info {

                        h4 {
                        }

                        .statistics {
                        }
                    }

                    img {
                    }
                }
            }
        }
    }
}
