#signup {
    margin-left: 25%;

    .container {
        width: 95%;



        form {
            .form-content {
                margin-top: 30px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "firstname lastname" "email email" "password comfirm" "terms terms" "submit submit";
            }

            input-group {
                label {
                    padding: 3px;
                }
            }

            .checkboxgroup {
                margin-top: 10px;
                margin-bottom: 30px;
            }

            #form-firstname {
                grid-area: firstname;
            }

            #form-lastname {
                grid-area: lastname;
            }

            #form-email {
                grid-area: email;
            }

            #form-password {
                grid-area: password;
            }

            #form-comfirm {
                grid-area: comfirm;
            }

            #form-checkbox {
                grid-area: terms;
            }

            #form-button {
                grid-area: submit;
            }
        }
    }

    
}
